* {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: xx-large;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}